### IntelliJ IDEA ###
out/
!**/src/main/**/out/
!**/src/test/**/out/


# Исключить из игнорирования папку src/Tasks/
!src/
!src/Tasks/

# Игнорировать все файлы и папки в src/Tasks, кроме самих файлов .java
src/Tasks/*
!src/Tasks/*.java

# Игнорировать IDE и конфигурационные файлы
.idea/
*.iml

# Игнорировать системные файлы и файлы ОС
.DS_Store
Thumbs.db
